%h1
  Home Page
%p
  Benvenuto alla pagina di registrazione al progetto
  = link_to "Sei connesso WiFi", "http://www.seiconnesso.org/"

%p
  La procedura di registrazione richiede la validazione di un numero di cellulare. Nel processo di registrazione verrà inviato un SMS all'utente con un codice da inserire in questo sito per l'attivazione dell'acccount.
%p
  Per procedere con la registrazione
  = link_to "clicca qui", new_user_path
